################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GFC-ConsoleApp/.vs/GFC-ConsoleApp/v15
/GFC-ConsoleApp/GFC-ConsoleApp/obj
